.main-layout {
    display: grid;
    grid-template-columns: 5vw, 1fr, 5vw;

    >* {
        grid-column: 2;
    }

    .full {
        width: 100%;
        grid-column: 1/4;
    }

    .higth-score {
        padding-left: 10px;
    }

    .actions-btns {
        position: absolute;
        grid-column: 3;
        right: 10px;
        top: 10px;
        width: max-content;
        display: grid;
        height: 100px;
        gap: 15px;

        button {
            border-radius: 15px;
            color: white;
            font-weight: bold;
            border: 0.3px solid rgba(255, 255, 255, 0.409);
            background-color: $bg-btns-color;
        }
    }
}