.board-game {

    &.red {
        .btns {
            .board-btns {
                &.red {
                    box-shadow: 0px 0px 11px 7px #ffffff97;
                    opacity: 1;
                }
            }
        }
    }

    &.yellow {
        .btns {
            .board-btns {
                &.yellow {
                    box-shadow: 0px 0px 11px 7px #ffffff97;
                    opacity: 1;
                }
            }
        }
    }

    &.green {
        .btns {
            .board-btns {
                &.green {
                    box-shadow: 0px 0px 11px 7px #ffffff97;
                    opacity: 1;
                }
            }
        }
    }

    &.blue {
        .btns {
            .board-btns {
                &.blue {
                    box-shadow: 0px 0px 11px 7px #ffffff97;
                    opacity: 1;
                }
            }
        }
    }

    .btns {
        position: relative;
        width: 210px;

        .board-btns {
            width: 100px;
            height: 100px;
            border: none;
            margin: 2.5px;
            box-shadow: 0px 0px 11px 7px #ffffff61;
            opacity: 0.8;

            &.red {
                background-color: red;
                border-radius: 100px 0 0 0;

                &:hover {
                    opacity: 1;
                }
            }

            &.yellow {
                background-color: yellow;
                border-radius: 0 100px 0 0;

                &:hover {
                    opacity: 1;
                }

            }

            &.green {
                background-color: green;
                border-radius: 0 0 0 100px;

                &:hover {
                    opacity: 1;
                }

            }

            &.blue {
                background-color: blue;
                border-radius: 0 0 100px 0;

                &:hover {
                    opacity: 1;
                }

            }

        }

        .score {
            background-color: $bg-color;
            box-shadow: 0px 0px 7px 7px $bg-color;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
        }
    }


}