.lost-modal {
    position: fixed;
    background-color: red;
    background: $bg-modal-color;
    left: 35vw;
    top: 20px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;

    &>* {
        margin-bottom: 15px;
    }

    .btns {
        display: flex;
        width: 100%;
        justify-content: space-between;

        & button {
            padding: 5px 10px;

            border: none;
            border-radius: 20px;
            background-color: $bg-btns-color;
            color: white;
            margin-top: 10px;
        }
    }
}